<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.chaoxingsystem.student.collection.CollectionQuestionMapper">

  <select id="countByCollection" resultType="long">
    SELECT COUNT(*)
    FROM biz_collection_question cq
    LEFT JOIN biz_question q ON cq.question_id = q.id
    WHERE cq.collection_id = #{collectionId}
    <if test="type != null and type != ''">
      AND q.type = #{type}
    </if>
    <if test="subject != null and subject != ''">
      AND q.subject LIKE CONCAT('%', #{subject}, '%')
    </if>
  </select>

  <select id="selectQuestionsByCollection" resultType="map">
    SELECT q.id, q.type, q.content, q.options, q.answer, q.analysis, 
           q.difficulty, q.subject, q.score, cq.add_time as addTime
    FROM biz_collection_question cq
    LEFT JOIN biz_question q ON cq.question_id = q.id
    WHERE cq.collection_id = #{collectionId}
    <if test="type != null and type != ''">
      AND q.type = #{type}
    </if>
    <if test="subject != null and subject != ''">
      AND q.subject LIKE CONCAT('%', #{subject}, '%')
    </if>
    ORDER BY cq.add_time DESC
    LIMIT #{offset}, #{limit}
  </select>

  <insert id="insert">
    INSERT INTO biz_collection_question (collection_id, question_id)
    VALUES (#{collectionId}, #{questionId})
  </insert>

  <delete id="delete">
    DELETE FROM biz_collection_question
    WHERE collection_id = #{collectionId} AND question_id = #{questionId}
  </delete>

  <delete id="deleteByCollection">
    DELETE FROM biz_collection_question WHERE collection_id = #{collectionId}
  </delete>

  <select id="exists" resultType="int">
    SELECT COUNT(*)
    FROM biz_collection_question
    WHERE collection_id = #{collectionId} AND question_id = #{questionId}
  </select>

</mapper>

