<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.chaoxingsystem.admin.org.StudentProfileMapper">
  <select id="countByClassId" resultType="long">
    SELECT COUNT(1) FROM biz_student WHERE class_id = #{classId}
  </select>
  <select id="countByUserId" resultType="long">
    SELECT COUNT(1) FROM biz_student WHERE user_id = #{userId}
  </select>
  <update id="updateClassIdByUserId">
    UPDATE biz_student SET class_id = #{classId}
    WHERE user_id = #{userId}
  </update>
  <insert id="insertStudentProfile">
    INSERT INTO biz_student (user_id, student_no, real_name, gender, class_id, major_code, enrollment_year, politics_status)
    VALUES (#{userId}, #{studentNo}, #{realName}, #{gender}, #{classId}, #{majorCode}, #{enrollmentYear}, #{politicsStatus})
  </insert>
</mapper>
